html {
    box-sizing: border-box;
    background-color: rgb(230,230,230);
    color: black;
}

.bobRoss {
    height: 500px;
    width: 433px;
    
}

.bobBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 620px;
    width: 1100px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.gridContainer {
    padding: 0px;
    border-color: yellow;
    border-style: solid;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 600px;
    justify-content: flex-start;

}

.etch {
    background-color: beige;
    border-style:none;
   
}

.settingsContainer {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: auto;
}

#save {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

.colorButton {
    height: 90px;
    width: 130px;
    display: flex;
    flex-flow: column;
    align-items: center;
   
}

#colour,#clear {
    width: 130px;
}

.settingsMenu{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: auto;
}

.boxSlider {
    width: 130px;
    height: auto;
    text-align: center;
}

#clear,#colour,#black {

    height: 30px;
}

h2 {
    margin-top: 0;
}